{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- HERO SECTION --> 
 <section class="hero-section">
    <div class="hero-overlay"></div>
    <div class="hero-content text-center">
        <h1 class="hero-title">Find the Right Car for You</h1>
        <p class="hero-subtitle">Search from thousands of new and used vehicles</p>

        <form method="get" action="{% url 'vehicle_list' %}" class="floating-search">
            <div class="search-icon">🔍</div>
            <input type="text" name="q" placeholder="Search by brand, model, city..." class="search-input">
            <button type="submit" class="search-btn">Search</button>
        </form>
    </div>
</section> 





{% endblock %}
