{% extends 'base.html' %}
{% block content %}


<div class="container mt-4">

    <h3 class="vehicle-list-title">Available Vehicles</h3>
    
    {% if request.user.is_authenticated and request.user.role == "seller" %}
        <a href="{% url 'add_vehicle' %}" class="simple-add-btn">
            <span class="plus-icon">+</span> Add Vehicle
        </a>
    {% endif %}


    <div class="row">

        <!-- FILTERS -->
        <div class="col-md-3">
            <div class="filter-container">

                <form method="get" class="filter-form">

                    {{ filter_form.brand }}
                    {{ filter_form.model }}

                    {{ filter_form.min_price }}
                    {{ filter_form.max_price }}

                    {{ filter_form.min_year }}
                    {{ filter_form.max_year }}

                    {{ filter_form.fuel_type }}
                    {{ filter_form.transmission }}
                    {{ filter_form.body_type }}

                    {{ filter_form.city }}
                    {{ filter_form.state }}

                    {{ filter_form.radius }}

                    {{ filter_form.user_lat }}
                    {{ filter_form.user_lon }}
                    
                    <button type="submit" class="filter-btn">Apply Filters</button>

                </form>

            </div>
        </div>

        <!-- VEHICLE CARDS -->
        <div class="col-md-9">
            <div class="row">

                {% for v in vehicles %}
                <div class="col-md-4 mb-4">
                    <div class="vehicle-card">

                        {% if v.images.first %}
                        <div class="vehicle-img-box">
                            <img src="{{ v.images.first.image.url }}" alt="{{ v }}">
                        </div>
                        {% endif %}

                        <div class="vehicle-info">
                            <h5 class="vehicle-name">{{ v.brand }} {{ v.model }}</h5>

                            <p class="vehicle-meta">
                                <span class="price">₹{{ v.price }}</span>
                                <span class="year">{{ v.year }}</span>
                            </p>

                            <a href="{% url 'vehicle_detail' v.pk %}" class="vehicle-btn">
                                View Details
                            </a>
                        </div>

                    </div>
                </div>
                {% endfor %}

            </div>
        </div>

    </div>

</div>

<script>
navigator.geolocation.getCurrentPosition(function(pos) {
    document.getElementById("user_lat").value = pos.coords.latitude;
    document.getElementById("user_lon").value = pos.coords.longitude;
});
</script>

{% endblock %}
